
h1 {
    color: rgb(0, 146, 39); 
}
#id_p {
    color: rgb(219, 192, 18);
}
.span {
    color: rgb(140, 42, 226);
}
/* 4. Обратитесь ко всем элементам на странице и поменяйте 
размер шрифта на 20px. Для этого используйте свойство font-size. */
* {
    font-size: 20px;
}
div p {
    color: rgb(255, 2, 209);
}
div + a {
    color: rgb(128, 196, 212);
}