/* 1. В HTML создайте следующую разметку: <div>, внутри 
которого находится <img>.
2. Задайте для <div> размеры и границу, разместите картинку
 внутри него, используя свойство object-fit.
3. Сделайте внутренний отступ от границ <div> к картинке.
4. Создайте несколько таких карточек, указывайте разные 
значения для внутреннего отступа. Обращайтесь в элементам 
через классы. */
div {
    width: 200px;
    height: 200px;
    padding: 20px;    
    background-color: black;
}
div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.two {
    padding: 5%;   
}
.three {
    padding: 3em;   
}